Label {
    margin-top: 8px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    -unity-font-style: bold;
    font-size: 48px;
    color: rgb(154, 154, 154);
    -unity-text-align: upper-center;
}

#web-cam-container {
}

#web-cam {
    flex-grow: 1;
}
